<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
  </head>
  <body class="body-full">
    <!-- Navigation -->
    <%- include('navbar-front') %>
    <!-- Modal -->
    <%- include('modal') %>
    <!-- Main -->
    <div class="container-fluid">
      <div class="row">
        <div class="div-full">
          <div class="div-half theme-bg-color">
            <div class="logo-box">
              <img src="/img/logo.png">
            </div>
          </div>
          <div class="div-half">
            <div class="search-box">
              <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="가게 이름, 메뉴, 주소를 검색해보세요.">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main -->
    <!-- footer -->
    <%- include('footer') %>
  </body>
</html>