<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <!-- Alert -->
    <% if (loginError.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= loginError %>
      </div>
    <% } %>
    <!-- Navigation -->
    <%- include('navbar-not-login') %>
    <!-- Main -->
    <div class="container-fluid">
      <div class="row card-columns store-bg-color div-full-min-height">
        <div class="front-card-width mx-auto">
          <!-- 로그인 카드 -->
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin" id="loginForm" method="POST" action="/auth/login">
                <div class="form-label-group">
                  <input type="email" id="login-inputEmail" name="user_email" class="form-control" placeholder="Email address" required autofocus>
                  <label for="inputEmail">Email address</label>
                </div>
    
                <div class="form-label-group">
                  <input type="password" id="login-inputPassword" name="user_password" class="form-control" placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                </div>
                
                <%#
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                #%>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" id="loginBtn" type="submit">Sign in</button>
                <hr class="my-4">
                <%#
                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                #%>
                <a href="/auth/kakao"><img src="/img/kakao_login_btn/kr/kakao_account_login_btn_large_wide.png" class="btn-kakao"></a>
              </form>
            </div>
          </div>
          <!-- 로그인 카드 -->
        </div>
      </div>
    </div>
    <!-- Main -->
    <!-- footer -->
    <%- include('footer') %>
  </body>
</html>