<!-- Navigation -->
<nav class="navbar navbar-expand-lg theme-bg-color static-top navbar-height">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/public/img/logo-small.png" alt="">
    </a>
    <div class="navbar-search-box">
      <div class="has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="가게 이름, 메뉴, 주소를 검색해보세요.">
      </div>
    </div>
    <div class="text-right">
      <i class='fas fa-home fa-3x'></i>
      <i class='fas fa-store fa-3x'></i>
      <i class='fas fa-user fa-3x'></i>
    </div>
  </div>
</nav>
<!-- Navigation -->