<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <!-- Navigation -->
    <%- include('navbar-user') %>
    <!-- Main -->
    <div class="container-fluid">
      <div class="row card-columns store-bg-color div-full-min-height">
        <div class="store-card-width mx-auto">
          <!-- 프로필 카드 -->
          <div class="card store-card-top">
            <div class="card-body mx-5">
              <div class="store-name text-center"><h1>프로필</h1></div>
              <hr/>
              <div class="store-register-area mt-5">
                <div class="store-register-container mb-4 mr-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>이메일</strong>
                  </div>
                  <div class="store-register-value">
                    <span><%= user.user_email %></span>
                  </div>
                </div>
                <div class="store-register-container mb-4 mr-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>비밀번호</strong>
                  </div>
                  <div class="store-register-value">
                    <input type="text" class="form-control" placeholder="비밀번호 변경 시에만 입력해주세요.">
                  </div>
                </div>
                <div class="store-register-container mb-4 mr-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>비밀번호 확인</strong>
                  </div>
                  <div class="store-register-value">
                    <input type="text" class="form-control" placeholder="비밀번호 변경 시에만 입력해주세요.">
                  </div>
                </div>
                <div class="store-register-container mb-4 mr-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>프로필 사진</strong>
                  </div>
                  <div class="input-group store-register-value">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>
                <div class="store-register-container mb-4 mr-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>가게이름</strong>
                  </div>
                  <div class="store-register-value">
                    <% if (user.user_hasStore) { %>
                      <a href="/store-modify"><span>가게이름 1</span></a>
                    <% } else { %>
                      <a href="/store-register"><span>등록된 가게가 없습니다. 만드실래요?</span></a>
                    <% } %>
                  </div>
                </div>
                <div class="profile-blank"></div>
              </div>
              <a href="/main"><button type="button" class="btn btn-danger float-left mb-4 ml-4">돌아가기</button></a>
              <button type="button" class="btn btn-primary float-right mb-4 mr-4">수정하기</button>
            </div>
          </div>
          <!-- 프로필 카드 -->
        </div>
      </div>
    </div>
    <!-- Main -->
    <!-- footer -->
    <%- include('footer') %>
  </body>
</html>