<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <!-- Navigation -->
    <%- include('navbar-user') %>
    <!-- Main -->
    <div class="container-fluid">
      <div class="row card-columns store-bg-color div-full-min-height">
        <div class="store-card-width mx-auto">
          <!-- 프로필 카드 -->
          <div class="card store-card-top">
            <div class="card-body mx-5">
              <div class="store-name text-center"><h1>프로필</h1></div>
              <hr/>
              <div class="store-register-area">
                <div class="store-register-container mb-4 mr-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>이메일</strong>
                  </div>
                  <div class="input-group store-register-value">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-success float-left">인증하기</button>
                    </div>
                  </div>
                </div>
                <div class="store-register-container mb-4 mr-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>비밀번호</strong>
                  </div>
                  <div class="store-register-value">
                    <input type="text" class="form-control" placeholder="비밀번호 변경 시에만 입력해주세요.">
                  </div>
                </div>
                <div class="store-register-container mb-4 mr-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>비밀번호 확인</strong>
                  </div>
                  <div class="store-register-value">
                    <input type="text" class="form-control" placeholder="비밀번호 변경 시에만 입력해주세요.">
                  </div>
                </div>
                <div class="store-register-container mb-4 mr-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>가게이름</strong>
                  </div>
                  <div class="store-register-value">
                    <span>가게이름 1</span>
                  </div>
                </div>
                <div class="profile-blank"></div>
              </div>
              <button type="button" class="btn btn-danger float-left mb-4 ml-4">최소하기</button>
              <button type="button" class="btn btn-primary float-right mb-4 mr-4">수정하기</button>
            </div>
          </div>
          <!-- 프로필 카드 -->
        </div>
      </div>
    </div>
    <!-- Main -->
    <!-- footer -->
    <%- include('footer') %>
  </body>
</html>