<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <!-- Navigation -->
    <%- include('navbar-user') %>
    <!-- Main -->
    <div class="container-fluid">
      <div class="row card-columns store-bg-color div-full-min-height">
        <div class="store-card-width mx-auto">
          <!-- 가게 등록 카드 -->
          <div class="card store-card-top">
            <div class="card-body mx-5">
              <h1 class="card-title text-center">가게 등록</h1>
              <hr/>
              <div class="store-register-area">
                <div class="store-register-container mb-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>상호명</strong>
                  </div>
                  <div class="store-register-value">
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="store-register-container mb-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>주소</strong>
                  </div>
                  <div class="input-group store-register-value">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-success float-left">우편번호검색</button>
                    </div>
                  </div>
                </div>
                <div class="store-register-container mb-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>영업시간</strong>
                  </div>
                  <div class="store-register-value">
                    <input type="text" class="form-control store-register-start-time" placeholder="ex) 13:00">
                  </div>
                  <span class="my-auto mx-2">
                    <strong>~</strong>
                  </span>
                  <div class="store-register-value">
                    <input type="text" class="form-control store-register-end-time" placeholder="ex) 22:00">
                  </div>
                </div>
                <div class="store-register-container mx-4">
                  <table class="table text-center">
                    <thead>
                      <tr>
                        <th>메뉴이름</th>
                        <th>가격</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="text" class="form-control" placeholder="메뉴 이름 1"></td>
                        <td><input type="text" class="form-control" placeholder="메뉴 가격 1"></td>
                      </tr>
                      <tr>
                        <td><input type="text" class="form-control" placeholder="메뉴 이름 2"></td>
                        <td><input type="text" class="form-control" placeholder="메뉴 가격 2"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="store-register-container mb-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>가게 사진 1</strong>
                  </div>
                  <div class="input-group store-register-value">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>
                <div class="store-register-container mb-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>가게 사진 2</strong>
                  </div>
                  <div class="input-group store-register-value">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>
                <div class="store-register-container mb-4">
                  <div class="store-register-key text-center my-auto">
                    <strong>가게 사진 3</strong>
                  </div>
                  <div class="input-group store-register-value">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>
              </div>
              <a href="/main"><button type="button" class="btn btn-danger float-left mb-4 ml-4">돌아가기</button></a>
              <button type="button" class="btn btn-primary float-right mb-4 mr-4">등록하기</button>
            </div>
          </div>
          <!-- 가게 등록 카드 -->
        </div>
      </div>
    </div>
    <!-- Main -->
    <!-- footer -->
    <%- include('footer') %>
  </body>
  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>
</html>